<div>
    {{quizName}}
    {{quizNum}}
</div>
<div>
    <div class="flex-container">
        <app-leaderboard [leaderboardId]="1" [quizNum] ="quizNum"  class="flex-item"/>
        <app-leaderboard [leaderboardId]="2" [quizNum] ="quizNum" class="flex-item"/>
        <app-leaderboard [leaderboardId]="3" [quizNum] ="quizNum" class="flex-item"/>
        <app-leaderboard [leaderboardId]="4" [quizNum] ="quizNum" class="flex-item"/>
        <app-leaderboard [leaderboardId]="5" [quizNum] ="quizNum" class="flex-item"/>
        <app-leaderboard [leaderboardId]="6" [quizNum] ="quizNum" class="flex-item"/>
        <app-leaderboard [leaderboardId]="7" [quizNum] ="quizNum" class="flex-item"/>
    </div>
    <div class="flex-container-col">
        
        
        
    </div>

</div>
